<div class="container">
    <form [formGroup]="filterForm">

        <div class="row">
            <div class="col-md-3">
                <input class="form-control " type="text" formControlName="filter" placeholder="Buscar por DNI" />
            </div>
            <div class="col-md-7">
                <app-range-datepicker-popup (dateChanged)="setDates($event)"></app-range-datepicker-popup>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary float-right" (click)="openModalAddVacacion('ADD')">
                    <fa-icon [icon]="faPlus"></fa-icon>Agregar vacación
                </button>
            </div>
        </div>

    </form>
    <br>
    <ngb-alert *ngIf="(vacaciones | async)?.length==0" type="primary" [dismissible]="false">No hay ninguna vacación
        registrada
    </ngb-alert>
    <table class="table table-striped" [hidden]="(vacaciones | async)?.length==0">
        <thead>
            <tr>
                <th scope="col">Empleado</th>
                <th scope="col">Descripción</th>
                <th scope="col">Período</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vacacion of vacaciones | async">
                <th scope="row">
                    <ngb-highlight [result]="vacacion.empleado_id" [term]="filterForm.controls['filter'].value">
                    </ngb-highlight>
                </th>
                <td>
                    <ngb-highlight [result]="vacacion.descripcion" [term]="filterForm.controls['filter'].value">
                    </ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="(vacacion.fecha_inicio | date)+' a '+ (vacacion.fecha_fin | date)"
                        [term]="filterForm.controls['filter'].value">
                    </ngb-highlight>
                </td>
                <td>
                    <button type="button" class="btn btn-secondary" (click)="openModalAddVacacion('EDIT',vacacion)">
                        <fa-icon [icon]="faEdit"></fa-icon>
                    </button>
                    <button type="button" class="btn btn-danger" (click)="openModalConfirmDeleteVacacion(vacacion)">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>