<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{header}}</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
        (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p><strong>{{titulo}}</strong></p>
    <p *ngIf="description">{{description}}
        <span class="text-danger" *ngIf="text_danger">{{text_danger}}</span>
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancelar</button>
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="yesAction()">Si, eliminar</button>
</div>