<div class="modal-header">
    <h4 class="modal-title" *ngIf="mode=='ADD'">Agregar empleado</h4>
    <h4 class="modal-title" *ngIf="mode=='EDIT'">Editar empleado</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngb-alert *ngIf="updated" [type]="'success'" [dismissible]="false">Se han actualizado los datos del empleado
    </ngb-alert>
    <ngb-alert *ngIf="added" [type]="'success'" [dismissible]="false">El empleado ha sido registrado
    </ngb-alert>
    <form [formGroup]='formEmpleado' (ngSubmit)="mode=='ADD'?agregarDatos():editarDatos()">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" formControlName="nombre" class="form-control" id="nombre" placeholder="Fulano">
            <ng-container *ngFor="let validation of validation_messages.nombre">
                <ngb-alert
                    *ngIf="formEmpleado.get('nombre').hasError(validation.type) && (formEmpleado.get('nombre').dirty || formEmpleado.get('nombre').touched)"
                    [type]="'danger'" [dismissible]="false">{{ validation.message }}</ngb-alert>
            </ng-container>
        </div>

        <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" formControlName="apellido" class="form-control"  placeholder="De Tal">            
            <ng-container *ngFor="let validation of validation_messages.apellido">
                <ngb-alert
                    *ngIf="formEmpleado.get('apellido').hasError(validation.type) && (formEmpleado.get('apellido').dirty || formEmpleado.get('apellido').touched)"
                    [type]="'danger'" [dismissible]="false">{{ validation.message }}</ngb-alert>
            </ng-container>
        </div>

        <div class="form-group">
            <label for="rol">Rol</label>
            <select formControlName="rol" id="rol" class="form-control">
                <option [value]="rol.name"  *ngFor="let rol of roles">{{rol.name}}</option>
            </select>
            <ng-container *ngFor="let validation of validation_messages.rol">
                <ngb-alert
                    *ngIf="formEmpleado.get('rol').hasError(validation.type) && (formEmpleado.get('rol').dirty || formEmpleado.get('rol').touched)"
                    [type]="'danger'" [dismissible]="false">{{ validation.message }}</ngb-alert>
            </ng-container>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" formControlName="email" class="form-control" id="email" placeholder="email@dominio.com">
            <ng-container *ngFor="let validation of validation_messages.email">
                <ngb-alert
                    *ngIf="formEmpleado.get('email').hasError(validation.type) && (formEmpleado.get('email').dirty || formEmpleado.get('email').touched)"
                    [type]="'danger'" [dismissible]="false">{{ validation.message }}</ngb-alert>
            </ng-container>
        </div>

        <div class="form-group">
            <label for="dni">DNI</label>
            <input type="number" formControlName="dni" class="form-control" id="dni" placeholder="123456789">
            <ng-container *ngFor="let validation of validation_messages.dni">
                <ngb-alert
                    *ngIf="formEmpleado.get('dni').hasError(validation.type) && (formEmpleado.get('dni').dirty || formEmpleado.get('dni').touched)"
                    [type]="'danger'" [dismissible]="false">{{ validation.message }}</ngb-alert>
            </ng-container>
        </div>

        <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input type="number" formControlName="telefono" class="form-control" id="telefono"
                placeholder="03624123456">
            <ng-container *ngFor="let validation of validation_messages.telefono">
                <ngb-alert
                    *ngIf="formEmpleado.get('telefono').hasError(validation.type) && (formEmpleado.get('telefono').dirty || formEmpleado.get('telefono').touched)"
                    [type]="'danger'" [dismissible]="false">{{ validation.message }}</ngb-alert>
            </ng-container>
        </div>

        <div class="form-group">
            <label for="direccion">Dirección</label>
            <input type="text" formControlName="direccion" class="form-control" id="direccion"
                placeholder="Somewhere 987">
            <ng-container *ngFor="let validation of validation_messages.direccion">
                <ngb-alert
                    *ngIf="formEmpleado.get('direccion').hasError(validation.type) && (formEmpleado.get('direccion').dirty || formEmpleado.get('direccion').touched)"
                    [type]="'danger'" [dismissible]="false">{{ validation.message }}</ngb-alert>
            </ng-container>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="formEmpleado.invalid">Guardar datos</button>
        </div>
    </form>
</div>
<!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div> -->