<div class="modal-header">
    <h4 class="modal-title" *ngIf="mode=='ADD'">Agregar vacación</h4>
    <h4 class="modal-title" *ngIf="mode=='EDIT'">Editar vacación</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngb-alert *ngIf="updated" [type]="'success'" [dismissible]="false">Se han actualizado los datos de  las vacaciones
    </ngb-alert>
    <ngb-alert *ngIf="added" [type]="'success'" [dismissible]="false">Los datos de las vacaciones han sido registrados
    </ngb-alert>
    <form [formGroup]='formVacacion' (ngSubmit)="mode=='ADD'?agregarDatos():editarDatos()">

        <div class="form-group">
            <label for="apellido">Descripción</label>
            <textarea formControlName="descripcion" rows="5"  class="form-control" placeholder="Descripción de las vacaciones"></textarea>
            <ng-container *ngFor="let validation of validation_messages.descripcion">
                <ngb-alert
                    *ngIf="formVacacion.get('descripcion').hasError(validation.type) && (formVacacion.get('descripcion').dirty || formVacacion.get('descripcion').touched)"
                    [type]="'danger'" [dismissible]="false">{{ validation.message }}</ngb-alert>
            </ng-container>
        </div>

        <app-range-datepicker (dateChanged)="setDates($event)"></app-range-datepicker>
       
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Guardar datos</button>
        </div>
    </form>
</div>